<!--Start services style1 area-->
<section class="services-style1-area sec-pd1">
  <div class="container">
    <div class="sec-title max-width text-center">
      <h3>Xidmətlərimiz</h3>
      <h1>Stomatoloji Xidmətlər</h1>
      <p>Dişləriniz gündəlik həyatda mühüm rol oynayır. Yalnız yeməyinizi çeynəməyinizə və yeməyinizə kömək etmir, həm də üzünüzü çərçivəyə salır. Hər hansı bir itkin diş həyat keyfiyyətinizə böyük təsir göstərə bilər. </p>
    </div>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-12">
      
        <div class="services-carousel">
      
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide>
            <div class="single-solution-style1">
              <div class="img-holder">
                <img src="../../../assets/images/services/1.jpg" alt="Awesome Image">
                <div class="icon-holder">
                  <div class="inner-content">
                    <div class="box">
                      <span class="icon-teeth-1"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-holder">
                <h3>İmplantlar</h3>
                <p></p>
                <div class="readmore">
                  <a href="#"><span class="flaticon-next"></span></a>
                  <div class="overlay-button">
                    <a href="#">Ətraflı</a>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="single-solution-style1">
              <div class="img-holder">
                <img src="../../../assets/images/services/2.jpg" alt="Awesome Image">
                <div class="icon-holder">
                  <div class="inner-content">
                    <div class="box">
                      <span class="icon-teeth-2"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-holder">
                <h3>Kosmetik stomatologiya</h3>
                <p>Know how pursue pleasure rationally encounter consequences that extremely anyone loves pursues.</p>
                <div class="readmore">
                  <a href="#"><span class="flaticon-next"></span></a>
                  <div class="overlay-button">
                    <a href="#">Ətraflı</a>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="single-solution-style1">
              <div class="img-holder">
                <img src="../../../assets/images/services/3.jpg" alt="Awesome Image">
                <div class="icon-holder">
                  <div class="inner-content">
                    <div class="box">
                      <span class="icon-dentist"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-holder">
                <h3>Lazerlə Stomatologiya</h3>
                <p>To take a trivial example, which us ever undertakes laborious physical exercise, to obtain some
                  advantage.</p>
                <div class="readmore">
                  <a href="#"><span class="flaticon-next"></span></a>
                  <div class="overlay-button">
                    <a href="#">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
             <div class="single-solution-style1">
            <div class="img-holder">
              <img src="../../../assets/images/services/1.jpg" alt="Awesome Image">
              <div class="icon-holder">
                <div class="inner-content">
                  <div class="box">
                    <span class="icon-teeth-1"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-holder">
              <h3>Dental Implants</h3>
              <p>Denouncing pleasure & praising pain was born and wewill give you a complete account of the system.</p>
              <div class="readmore">
                <a href="#"><span class="flaticon-next"></span></a>
                <div class="overlay-button">
                  <a href="#">Read More</a>
                </div>
              </div>
            </div>
          </div></ng-template>
          <ng-template carouselSlide>
             <div class="single-solution-style1">
            <div class="img-holder">
              <img src="../../../assets/images/services/2.jpg" alt="Awesome Image">
              <div class="icon-holder">
                <div class="inner-content">
                  <div class="box">
                    <span class="icon-teeth-2"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-holder">
              <h3>Cosmetic Dentistry</h3>
              <p>Know how pursue pleasure rationally encounter consequences that extremely anyone loves pursues.</p>
              <div class="readmore">
                <a href="#"><span class="flaticon-next"></span></a>
                <div class="overlay-button">
                  <a href="#">Read More</a>
                </div>
              </div>
            </div>
          </div></ng-template>
          <ng-template carouselSlide>
              <div class="single-solution-style1">
            <div class="img-holder">
              <img src="../../../assets/images/services/3.jpg" alt="Awesome Image">
              <div class="icon-holder">
                <div class="inner-content">
                  <div class="box">
                    <span class="icon-dentist"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-holder">
              <h3>Laser Dentistry</h3>
              <p>To take a trivial example, which us ever undertakes laborious physical exercise, to obtain some
                advantage.</p>
              <div class="readmore">
                <a href="#"><span class="flaticon-next"></span></a>
                <div class="overlay-button">
                  <a href="#">Read More</a>
                </div>
              </div>
            </div>
          </div></ng-template>
          <ng-template carouselSlide>
             <div class="single-solution-style1">
            <div class="img-holder">
              <img src="../../../assets/images/services/1.jpg" alt="Awesome Image">
              <div class="icon-holder">
                <div class="inner-content">
                  <div class="box">
                    <span class="icon-teeth-1"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-holder">
              <h3>Dental Implants</h3>
              <p>Denouncing pleasure & praising pain was born and wewill give you a complete account of the system.</p>
              <div class="readmore">
                <a href="#"><span class="flaticon-next"></span></a>
                <div class="overlay-button">
                  <a href="#">Read More</a>
                </div>
              </div>
            </div>
          </div></ng-template>
          <ng-template carouselSlide>
              <div class="single-solution-style1">
            <div class="img-holder">
              <img src="../../../assets/images/services/2.jpg" alt="Awesome Image">
              <div class="icon-holder">
                <div class="inner-content">
                  <div class="box">
                    <span class="icon-teeth-2"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-holder">
              <h3>Cosmetic Dentistry</h3>
              <p>Know how pursue pleasure rationally encounter consequences that extremely anyone loves pursues.</p>
              <div class="readmore">
                <a href="#"><span class="flaticon-next"></span></a>
                <div class="overlay-button">
                  <a href="#">Read More</a>
                </div>
              </div>
            </div>
          </div></ng-template>
          <ng-template carouselSlide>
             <div class="single-solution-style1">
            <div class="img-holder">
              <img src="../../../assets/images/services/3.jpg" alt="Awesome Image">
              <div class="icon-holder">
                <div class="inner-content">
                  <div class="box">
                    <span class="icon-dentist"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-holder">
              <h3>Laser Dentistry</h3>
              <p>To take a trivial example, which us ever undertakes laborious physical exercise, to obtain some
                advantage.</p>
              <div class="readmore">
                <a href="#"><span class="flaticon-next"></span></a>
                <div class="overlay-button">
                  <a href="#">Read More</a>
                </div>
              </div>
            </div>
          </div></ng-template>
        </owl-carousel-o>
        </div>
      </div>
    </div>

  </div>
</section>
<!--End services style1 area-->