<section class="highlights-area">
  <div class="container">
      <div class="row">
          <div class="col-xl-12 wow fadeInUp" data-wow-delay="600ms">
              <!--Start single box-->
              <div class="single-box float-left text-center">
                  <div class="icon-holder">
                      <span class="icon-support-1"></span>
                  </div>
                  <h3>E-Konsultasiya</h3>
                  <span class="border-box"></span>
                  <p>Sadəcə formu doldurun.</p>
                  <a href="#">Buradan başların</a>
              </div>
              <!--End single box-->
              <!--Start single box-->
              <div class="single-middle-box float-left text-center">
                  <div class="icon-holder">
                      <span class="icon-support-1"></span>
                  </div>
                  <h3>Həkim qəbuluna yazılın</h3>
                  <form name="visit-form" action="#" method="post">
                      <div class="row mar-ninus10">
                          <div class="col-xl-4 pd10">
                              <div class="input-box">
                                  <input type="text" name="form_name" value="" placeholder="Ad Soyad" required="">
                              </div>
                          </div>
                          <div class="col-xl-4 pd10">
                              <div class="input-box">
                                  <input type="text" name="form_phone" value="" placeholder="Telefon nömrəsi">
                              </div>
                          </div>
                          <div class="col-xl-4 pd10">
                              <div class="input-box">
                                  <select class="selectmenu">
                                      <option selected="selected">Xidmət növü</option>
                                      <option>Dental Implants</option>
                                      <option>Cosmetic Dentistry</option>
                                      <option>Laser Dentistry</option>
                                      <option>Orthodontics</option>
                                      <option>Endodontics</option>
                                      <option>Periodontics</option>
                                  </select>
                              </div>
                          </div>
                      </div>
                      <div class="row mar-ninus10">
                          <div class="col-xl-4 pd10">
                              <div class="input-box">
                                  <input type="text" name="time" placeholder="Vaxt">
                                  <div class="icon-box">
                                      <i class="fa fa-clock-o" aria-hidden="true"></i>
                                  </div>
                              </div>
                          </div>
                          <div class="col-xl-4 pd10">
                              <div class="input-box">
                                  <input type="text" name="date" placeholder="Tarix" id="datepicker">
                                  <div class="icon-box">
                                      <i class="fa fa-calendar" aria-hidden="true"></i>
                                  </div>
                              </div>
                          </div>
                          <div class="col-xl-4 pd10">
                              <div class="button-box">
                                  <button class="btn-one" type="submit">Təsdiqlə</button>
                              </div>
                          </div>
                      </div>
                  </form>
              </div>
              <!--End single box-->
              <!--Start single box-->
              <div class="single-box float-right text-center">
                  <div class="icon-holder">
                      <span class="icon-support-1"></span>
                  </div>
                  <h3>Həkim Tap</h3>
                  <span class="border-box"></span>
                  <p>Komandamızla tanış olun.</p>
                  <a href="#">Həkimlərimiz</a>
              </div>
              <!--End single box-->
          </div>
      </div>
  </div>
</section>