<!--Start breadcrumb area-->     
<section class="breadcrumb-area" style="background-image: url(../../../assets/images/resources/breadcrumb-bg.jpg);">
  <div class="container">
      <div class="row">
          <div class="col-xl-12">
              <div class="inner-content clearfix">
                  <div class="title float-left">
                     <h2>Haqqımızda</h2>
                  </div>
                  <div class="breadcrumb-menu float-right">
                      <ul class="clearfix">
                          <li><a [routerLink]="['']">Əsas Səhifə</a></li>
                          <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                          <li class="active">Haqqımızda</li>
                      </ul>    
                  </div>
              </div>
          </div>
      </div>
</div>
</section>
<!--End breadcrumb area--> 

<!--Start About Area-->
<section class="about-area home2">
  <div class="container">
      <div class="row">
          <div class="col-xl-6">
              <div class="about-image-holder wow fadeInLeft" data-wow-delay="900ms">
                  <img src="../../../assets/images/resources/about.jpg" alt="Awesome Image">
              </div>    
          </div>
          <div class="col-xl-6">
              <div class="inner-content">
                  <div class="sec-title">
                      <h3>Haqqımızda</h3>
                      <h1>Mərkəzi Stomatologiya<br>Missiyamız və tariximiz </h1>
                  </div>
                  <div class="about-text-holder">
                      <p>Dento was started in the year 1995 as a small private dental clinic in Binghamton, NY, USA. Looking for affordable dental care?</p>
                      <p>To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, pain  resultant pleasure praising teachings of the great explorer...</p>
                      <div class="author-box fix">
                          <div class="img-box">
                              <img src="../../../assets/images/resources/ceo.png" alt="Awesome Image">
                          </div>
                          <div class="text-box">
                              <h3>Dr. Jerome Sinclair</h3>
                              <span>CEO & Founder</span>
                          </div>
                          <div class="signatire-box">
                              <img src="../../../assets/images/resources/signature.png" alt="Signature">
                          </div>
                      </div>
                      
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!--End About Area-->

<!--Start fact counter area-->
<section class="fact-counter-area style2">
  <div class="container">
      <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
              <ul class="clearfix">
                  <!--Start single fact counter-->
                  <li class="single-fact-counter text-center wow fadeInUp" data-wow-delay="300ms">
                      <div class="count-box">
                          <div class="icon">
                              <span class="icon-tooth-3"></span>    
                          </div>
                          <h1>
                              <span class="timer" data-from="1" data-to="4257" data-speed="5000" data-refresh-interval="50">4257</span>
                          </h1>
                          <div class="title">
                              <h3>Pasient</h3>
                          </div>
                          <div class="text">
                              <p>Həyatın sirri təbəssümdədir.</p>
                          </div>
                      </div>
                  </li>
                  <!--End single fact counter-->
                  <!--Start single fact counter-->
                  <li class="single-fact-counter text-center wow fadeInUp" data-wow-delay="600ms">
                      <div class="count-box">
                          <div class="icon">
                              <span class="icon-doctor-1"></span>    
                          </div>
                          <h1>
                              <span class="timer" data-from="1" data-to="4" data-speed="5000" data-refresh-interval="50">4</span>
                          </h1>
                          <div class="title">
                              <h3>Təcrübəli Stomatoloq</h3>
                          </div>
                          <div class="text">
                              <p>Sizin təbəssümünüzün sirri isə sizin stomatoloqunuzdadır.</p>
                          </div>
                      </div>
                  </li>
                  <!--End single fact counter-->
                  <!--Start single fact counter-->
                  <li class="single-fact-counter text-center wow fadeInUp" data-wow-delay="900ms">
                      <div class="count-box">
                          <div class="icon">
                              <span class="icon-hospital"></span>    
                          </div>
                          <h1>
                              <span class="timer" data-from="1" data-to="1" data-speed="5000" data-refresh-interval="50">1</span>
                          </h1>
                          <div class="title">
                              <h3>Bir ünvanda</h3>
                          </div>
                          <div class="text">
                              <p>Xoşbət gülüşün tək ünvanı.</p>
                          </div>
                      </div>
                  </li>
                  <!--End single fact counter-->
              </ul>
          </div>
      </div>
  </div>
</section>
<!--End fact counter area--> 

<!--Start mission vision area-->
<section class="mission-vision-area sec-pd2" style="background-image: url(../../../assets/images/parallax-background/mission-vision-bg.jpg);">
  <div class="container">
      <div class="row">
          <!--Start single mission vision box-->
          <div class="col-xl-4 col-lg-4">
              <div class="single-mission-vision-box text-center wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                  <h6>Missiyamız</h6>
                  <p>Dürüstlük, dəqiqlik və keyfiyyət öhdəliyi ilə yüksək səviyyəd diş baxımı təmin etmək...</p>
              </div>
          </div>
          <!--End single mission vision box-->
          <!--Start single mission vision box-->
          <div class="col-xl-4 col-lg-4">
              <div class="single-mission-vision-box text-center wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                  <h6>Məqsədimiz</h6>
                  <p>Ölkənin qabaqcıl və ən çox seçilən diş baxımı xidmətlərindən biri olaraq geniş tanınmaq...</p>
              </div>
          </div>
          <!--End single mission vision box-->
          <!--Start single mission vision box-->
          <div class="col-xl-4 col-lg-4">
              <div class="single-mission-vision-box text-center wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                  <h6>Fəlsəfəmiz</h6>
                  <p>Gülüşünüzü gözəlləşdirək, Həyatınız gözəlləşsin...</p>
              </div>
          </div>
          <!--End single mission vision box-->
      </div>
  </div>
</section>  
<!--End mission vision area--> 

<!--Start Choose area--> 
<section class="choose-area">
  <div class="container">
      <div class="sec-title max-width text-center">
          <h3>Niyə bizi seçməlisiniz?</h3>
          <h1>Üstünlük və Tenologiyalar</h1>
          <p>Dişləriniz gündəlik həyatda mühüm rol oynayır. Yalnız yeməyinizi çeynəməyinizə və yeməyinizə kömək etmir, həm də üzünüzü çərçivəyə salır. Hər hansı bir dişi itirmək həyat keyfiyyətinizə böyük təsir göstərə bilər.</p>
      </div>
      <div class="row">
          <!--Start single choose box-->
          <div class="col-xl-4  col-12">
              <div class="single-choose-box text-center wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="600ms">
                  <div class="count">
                      <span>01</span>
                  </div>
                  <div class="icon-holder">
                      <span class="icon-doctor"></span>
                  </div>
                  <h3>Qayğıkeş və yüksək ixtisaslı həkimlər</h3>    
              </div>
          </div>
          <!--End single choose box-->
          <!--Start single choose box-->
          <div class="col-xl-4 col-12">
              <div class="single-choose-box text-center wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="900ms">
                  <div class="count">
                      <span>02</span>
                  </div>
                  <div class="icon-holder">
                      <span class="icon-dentist-2"></span>
                  </div>
                  <h3>Ən yaxşı avadanlıqlardan istifadəsi klinikamızda </h3>    
              </div>
          </div>
          <!--End single choose box-->
          <!--Start single choose box-->
          <div class="col-xl-4 col-12">
              <div class="single-choose-box text-center wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1200ms">
                  <div class="count">
                      <span>03</span>
                  </div>
                  <div class="icon-holder">
                      <span class="icon-ui"></span>
                  </div>
                  <h3>Onlayn Randevu Sistemi</h3>    
              </div>
          </div>
          <!--End single choose box-->
      </div>
 
  </div>
</section> 
<!--End Choose area-->  